APP_NAME="RHU LabChain"
ENVIRONMENT=production
NODE_ID=node-1
NODE_NAME="RHU LabChain Node 1"
NODE_PORT=5001

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=rhu_labchain
DB_USER=rhu_app
DB_PASSWORD=replace_with_your_database_password
